/* You can add global styles to this file, and also import other style files */
:root {
  --border-color: #32343b;
  --background-color: #1d1e22;
  --lighten-bg-color: #32343b;
  --middle-line-bg-color: #444750;
  --red-color: #a52a2a;
  --yellow-color: #F9D71C;
  --header-color: #c9c9c9;
  --light-red-color-1: rgb(165, 42, 42, 0.3);
  --light-red-color-2: rgb(165, 42, 42, 0.3);
  --green-color: #78BE20;
  --light-green-color-1: rgb(120, 190, 32, 0.3);
  --light-green-color-2: rgb(120, 190, 32, 0.3);
}
